<div class="container p-4 mt-2 border">
  <h3>
      Upload file
  </h3>
  <div class="row mt-2">
    <label for="formFile" class="form-label"></label>
    <input
      class="form-control"
      type="file"
      id="formFile"
      (change)="selectFile($event)"
    />
  </div>
  <div class="row mt-2">
    <button
      class="btn btn-success btn-sm"
      [disabled]="!selectedFiles"
      (click)="upload()"
      style="width: 10%"
    >
      Upload file
    </button>
  </div>
  <div class="progress" *ngIf="!isUploadFinished && uploadProgress">
    <div
      class="progress-bar"
      role="progressbar"
      [style.width.%]="uploadProgress"
      [attr.aria-valuenow]="uploadProgress"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      {{ uploadProgress }}%
    </div>
  </div>
  <div class="row mt-2">
    <div
      class="alert alert-success"
      role="alert"
      *ngIf="isUploadFinished && isUploadedSuccess"
    >
      File succesfully uploaded!
    </div>
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="isUploadFinished && !isUploadedSuccess"
    >
      Something went wrong wile uploading file!
    </div>
  </div>
</div>
