<div class="container p-4 mt-2 border">
  <h3>Files list</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Date</th>
        <th scope="col">Size</th>
        <th scope="col">Type</th>
        <th scope="col">Show image</th>
        <th scope="col">Download image</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let file of fileList; let id = index">
        <th scope="row">{{ id }}</th>
        <td>{{ file.name }}</td>
        <td>{{ file.date | date }}</td>
        <td>{{ file.size }}</td>
        <td>{{ file.type }}</td>
        <td>
          <button type="button" class="btn btn-outline-secondary" (click)="showImage(file)">
            <i class="bi bi-image"></i>
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-outline-secondary" (click)="downloadImage(file)">
            <i class="bi bi-cloud-download"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
